* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.btn-success{
    background: linear-gradient(to left, #8942a8, #ba382f);
    border-color: white;
}
.btn-success:hover{
    border-color:white ;
}
.btn-success.focus, .btn-success:focus{
    box-shadow: 0 0 0 0.2rem rgba(211, 13, 152, 0.25);
}
.btn.focus, .btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(211, 13, 152, 0.25);

}
.nav-item a {
    color: #8942a8;
}
.sp-thongbao {
    color: red;
    margin-left: 2px; 
    display: none;
  }
